$icon-colour: darkgray;
$lightred-colour: #ff5d5c;
$darkred-colour: #ea1112;

#profileicon{
    color: $icon-colour;
}

h6{
    color: $lightred-colour;
}

#contact-body {
  background: $lightred-colour;
}
  
  .bg-image {
    background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sidebar {
    height: 200px;
    width: 150px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 40px;
    background-color: $icon-colour;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
    
    .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    }

    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      }

      body {
        transition: margin-left .5s;
        }
